doctype html
html
  head
    title= `${title} | ${h.appName}`
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-social.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="shortcut icon" type="image/png" href="/images/doughnut.png")
    script(src='/javascripts/jquery/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/bootstrap.bundle.min.js')
    script(src='/javascripts/popper/popper.min.js')
  body.text-justify
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
      .container-fluid
        a(href="/").navbar-brand.py-0 #{h.appName}
        button(type="button" data-toggle="collapse" data-target="#navbarCollapse"  aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation").navbar-toggler.navbar-toggler-right
          span.navbar-toggler-icon
        .collapse.navbar-collapse(id="navbarCollapse")
          ul.navbar-nav
            li.nav-item
              a(href="/login").nav-link Top
            li.nav-item
              a(href="/login").nav-link Category
            li.nav-item
              a(href="/login").nav-link Search
            if user
              li.nav-item
                a(href="/add").nav-link Submit
          ul.navbar-nav.ml-auto
            if user
              li.nav-item
                a.nav-link(href="/profile")= user.email
              li
                a.nav-link(href="/logout") logout
            else
              li.nav-item.active
                a(href="/login").nav-link Login
                  span.sr-only (current)
              li.nav-item.active
                a(href="/register").nav-link Register
                  span.sr-only (current)
    .container
      .row.text-center
        block messages
          if locals.flashes
            .col-lg-12.text-center
              .flash-messages
                - const categories = Object.keys(locals.flashes)
                each category in categories
                  each message in flashes[category]
                    .flash(class=`alert alert-${category}` role="alert")
                      p.flash__text!= message
                      button.flash__remove(onClick="this.parentElement.remove()") &times;
    .container
      .row.text-center
        block content
